body, html {
    height: 100%;
    margin: 0;
    /* background-color: black; */
}

.bg {
    background-image: url(./bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.overlay {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.mid-tile {
    background-color: white;
    height: 20%;
    width: 20%;
}

.overlay p {
    color: white; 
    font-size: 500%; 
    text-shadow: 2px 2px 4px grey; 
}

#changable {
    opacity: 1;
    -webkit-transition: opacity 1s ease-in; /* Safari, Chrome and Opera > 12.1 */
    -moz-transition: opacity 1s ease-in; /* Firefox < 16 */
     -ms-transition: opacity 1s ease-in; /* Internet Explorer */
      -o-transition: opacity 1s ease-in; /* Opera < 12.1 */
         transition: opacity 1s ease-in;
}

.hide {
    opacity: 0 !important;
}

#timer {
    position: absolute;
    left: 1%;
    top: 1%;
    flex-direction: row;
    z-index: 99;
}

#timer p {
    color: white;
}
